
body {
    display: flex; /* Flex items in a column direction*/
    flex-direction: column; 
    align-items: center; /*Center items along cross axis*/
    justify-content: space-between; /*Space between elements*/
    margin: 0; /*No default margin. Ensure full width layout*/
}

header {
    display: flex; /*Flex items in row direction*/
    align-items: center;
    justify-content: space-between;
    padding: 20px; /*Padding in all directions of 20px*/
    background: rebeccapurple;
    color: white;
    border-bottom: 3px solid black; /*Color of bottom border and thickness*/
    width: 100%; /*Header occupies all the view*/
    box-sizing: border-box;
}

header nav { /*Style applied to the tag nav inside the header*/
    display: flex;
    align-items: center;
}

header nav a { /* Style applied to the tag a inside the tag nav inside the header*/ 
    padding: 5px 10px;
    text-decoration: none; /*Remove lines of links*/
    color: white;
}

header nav a:hover { /*Background color of tag a inside the header*/
    color: red;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    padding: 5px 10px;
    margin: auto;
}

#logoHeader {
    width: 50px;
    height: 50px;
}

#firstImage {
    margin:10px;
    margin-bottom: 0px;
}

#imageDish{
    width: 300px;
    height: 300px;
}

#TextImage{
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}

#container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*Makes no difference*/

    #rightColumn{
        width: 40%;
    }

    #leftColumn{
        width: 40%;
    }
}

.Paragraph{
    text-align: justify;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rebeccapurple;
    color: white;
    box-sizing: border-box;
    text-emphasis-color: white;
    margin-top: 25px;
    border-top: 3px solid black;
  }


  footer a {
    color: white;
    text-decoration: none;

  }

  footer a:hover {
    color: red;
  } 



